@import "App.less";

@background-color: #051216;
@card-background-color: #051216;
@content-layout-background-color: #152125;
@article-content-layout-background-color: #152125;
@layout-header-color: #021316;
@text-color: #ffffff;

@primary-color: #51B4DF;

body[data-theme='dark'] {
  #theme.body();
  
  .to-light {
    display: inline-flex;
  }
  
  .to-dark {
    display: none;
  }
}